.container{
display: grid;
grid-template-columns:repeat(4,1fr);
max-width: 1200px;
margin: 0 auto;
background: rgb(28, 28, 50);
color: white;
}
img{
    width: 100%;
    height: 75%;
}
div{
    border: 2px solid white;
    border-radius: 3px;
    gap: 10px;
}
h3{
    border-top: 1px solid white;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
}
@media(max-width:380px){
    .conaitner{
        grid-template-columns: repeat(1,1fr);
    }
}
@media(max-width:380px) and (max-width:600ps){
    .conaitner{
        grid-template-columns: repeat(2,1fr);
    }
}
h2{
    grid-column: 1/-1;
}
